@use 'mixin' as *;
@use 'functions' as *;

:root {
  --primary-color: #0053a6;
  --secondary-color: #1976d2;
  --bg-color: #f5faff;
  --black-color: #111;
  --white-color: #fff;
  --dark-gray-color: #3e4045;
  --gray-color: #6b6e73;
  --light-gray-color: #ebebeb;
  --border-color: #d9d9d9;
  --font-size-xs: #{calcClamp(11, 12, 375, 1024)};
  --font-size-sm: #{calcClamp(13, 14, 375, 1024)};
  --font-size-base: #{calcClamp(14, 15, 375, 1024)};
  --font-size-md: #{calcClamp(16, 17, 375, 1024)};
  --font-size-lg: #{calcClamp(18, 20, 375, 1024)};
  --font-size-xl: #{calcClamp(20, 22, 375, 1024)};
  --font-size-2xl: #{calcClamp(22, 24, 375, 1024)};
  --font-size-3xl: #{calcClamp(24, 26, 375, 1024)};
  --font-size-4xl: #{calcClamp(28, 30, 375, 1024)};
  --font-size-5xl: #{calcClamp(32, 34, 375, 1024)};
  --heading-1: #{calcClamp(30, 36, 375, 1024)};
  --heading-2: #{calcClamp(28, 32, 375, 1024)};
  --heading-3: #{calcClamp(24, 28, 375, 1024)};
  --heading-4: #{calcClamp(20, 22, 375, 1024)};
  --heading-5: #{calcClamp(18, 20, 375, 1024)};
  --heading-6: #{calcClamp(16, 17, 375, 1024)};
  --font-primary: 'Noto Sans JP', sans-serif;
  --inner-inline-padding: 5%;
  --header-height: 80px;
  --spacing-xs: #{rem(8)};
  --spacing-sm: #{rem(12)};
  --spacing-md: #{rem(20)};
  --spacing-lg: #{rem(24)};
  --spacing-xl: #{rem(28)};
  --spacing-2xl: #{rem(28)};
  --spacing-3xl: #{rem(32)};
  --spacing-4xl: #{rem(36)};
  --spacing-5xl: #{rem(40)};
  --spacing-6xl: #{rem(48)};
  --spacing-7xl: #{rem(72)};
  --spacing-8xl: #{rem(96)};
  --focus-outline-color: var(--primary-color);
  --focus-outline-offset: 2px;
  --focus-outline-width: 2px;
  --focus-outline-style: solid;

  @include mq('lg') {
    --font-size-xs: #{rem(13)};
    --font-size-sm: #{rem(14)};
    --font-size-base: #{rem(16)};
    --font-size-md: #{rem(18)};
    --font-size-lg: #{rem(20)};
    --font-size-xl: #{rem(24)};
    --font-size-2xl: #{rem(28)};
    --font-size-3xl: #{rem(32)};
    --font-size-4xl: #{rem(36)};
    --font-size-5xl: #{rem(40)};
    --spacing-5xl: #{rem(48)};
    --spacing-6xl: #{rem(52)};
    --heading-1: #{rem(40)};
    --heading-2: #{rem(36)};
    --heading-3: #{rem(32)};
    --heading-4: #{rem(24)};
    --heading-5: #{rem(22)};
    --heading-6: #{rem(20)};
    --spacing-xs: #{rem(12)};
    --spacing-sm: #{rem(16)};
    --spacing-md: #{rem(24)};
    --spacing-lg: #{rem(32)};
    --spacing-xl: #{rem(40)};
    --spacing-2xl: #{rem(48)};
    --spacing-3xl: #{rem(56)};
    --spacing-4xl: #{rem(64)};
    --spacing-5xl: #{rem(72)};
    --spacing-6xl: #{rem(80)};
    --spacing-7xl: #{rem(100)};
    --spacing-8xl: #{rem(120)};
  }
}
